<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--bean id="propertyConfigurer"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
    p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    
    <bean id="postController" class="com.mycompany.controller.PostController"/>
    <bean id="postDao" class="com.mycompany.dao.PostDao"/>
    <bean id="registerController" class="com.mycompany.controller.RegisterController"/>
    <bean id="userDao" class="com.mycompany.dao.UserDao"/>
    <bean id="registerValidator" class="com.mycompany.validator.RegisterValidator"/>
    <bean id="userService" class="com.mycompany.service.UserService"/>
    <bean id="loginValidator" class="com.mycompany.validator.LoginValidator"/>
    <bean id="loginController" class="com.mycompany.controller.LoginController"/>
    <bean id="updatePasswordValidator" class="com.mycompany.validator.UpdatePasswordValidator"/>
    <bean id="accountController" class="com.mycompany.controller.AccountController"/>
    <bean id="postValidator" class="com.mycompany.validator.PostValidator"/>
    <bean id="imageDao" class="com.mycompany.dao.ImageDao"/>
    <bean id="adminController" class="com.mycompany.controller.AdminController"/>
</beans>
